/* index.html */

.contacts:hover,
.contacts:focus {
  color: #2196f3;
}
*/

/* based color #212121*/
/*other color background: #757575;/
/*blue background: #2196F3;/
/*  */

.list {
  list-style: none;
}
.site-button {
  color: #212121;
}

/* Site nav */
.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
